{{summaryPlaceholder}}

{{#parametersExist}}
Parameters
----------
{{#args}}
{{var}} : {{typePlaceholder}}{{#default}} (optional){{/default}}
    {{descriptionPlaceholder}}{{#default}}. Default is `{{&default}}`{{/default}}{{^default}}
{{/default}}
{{/args}}
{{#kwargs}}
{{var}} : {{typePlaceholder}}{{#default}} (optional){{/default}}
    {{descriptionPlaceholder}}{{#default}}. Default is `{{&default}}`{{/default}}{{^default}}
.{{/default}}
{{/kwargs}}
{{/parametersExist}}

{{#outputExists}}
{{outputTitle}}
-------
{{#output}}
_name_ : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/output}}
{{/outputExists}}

{{#exceptionsExist}}
Raises
------
{{#exceptions}}
_name_ : {{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}